.container {
    height: fit-content;
    position: sticky;
    top: 100px;
    align-self: flex-start;
}
.container:hover {
    background-color: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
    .container {
      display: none;
    }
}