.layout {
    height: 100%;
}

.layoutHeader {
    width: 100%;
    margin: 0 auto;
}

.content {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 32px 16px;
    min-height: calc(100vh - 64px);
}

@media screen and (min-width: 1024px) {
    .layoutHeader {
        width: 824px;
    }

    .content {
        padding: 32px 0;
        width: 824px;
    }
}

@media screen and (min-width: 1360px) {
    .layoutHeader {
        width: 1104px;
    }

    .content {
        width: 1104px;
    }
}