.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

.feedColumnContainer {
    grid-column: span 2;
}
.scrollTopBtn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
    border: none;
    outline: none; 
    box-shadow: none; 
    z-index: 999;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
}
  
.scrollTopBtn:hover {
    background-color: rgba(0, 0, 0, 0.03);
}
.upText {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease;
    user-select: none;
    font-weight: bold;
}
  
.leftScrollZone:hover .upText {
    color: rgba(0, 0, 0, 0.4);
}