.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

.postContainer {
    grid-column: span 2;
}

.postContainerInner {
    height: fit-content;
}